<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="IncludeExceptionDetails">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
      <!--<serviceBehaviors>
        
      <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentInstances="1" />
        </behavior>
      
        <behavior name="HWServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>-->
    </behaviors>           
    <services>
      <!--<service behaviorConfiguration="ServiceBehavior" name="MsmqService.MsmqService">
        <endpoint address="net.msmq://localhost/private/MsmqService/MsmqService.svc"
          binding="netMsmqBinding" bindingConfiguration="MsmqBindingNonTransactionalNoSecurity"
          contract="MsmqContract.IMsmqContract" />
      </service>-->
      <service name="MsmqService.MsmqService">
        <endpoint address="msmq.formatname:DIRECT=OS:waytooawesome\private$\msmqservice/msmqservice.svc" binding="msmqIntegrationBinding" bindingConfiguration="IncomingMessageHandlerBinding" contract="MsmqContract.IMsmqContract" />
      </service>
      <!--<service behaviorConfiguration="HWServiceBehavior" name="MsmqService.HelloWorld">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="MsmqService.IHelloWorld" />
        <endpoint address="secure"
                  binding="wsHttpBinding"
                  contract="MsmqService.IHelloWorld" />
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="MsmqService.IHelloWorld" />
      </service>-->
    </services>
    <bindings>
      <!--<netMsmqBinding>
        <binding name="MsmqBindingNonTransactionalNoSecurity" exactlyOnce="false">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>-->
      <msmqIntegrationBinding>
        <binding name="IncomingMessageHandlerBinding"
                 closeTimeout="00:30:00"
                 receiveTimeout="01:00:00"
                 retryCycleDelay="00:00:10"
                 receiveRetryCount="0"
                 exactlyOnce="false"
                 maxRetryCycles="3"
                 receiveErrorHandling="Move">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
