<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloWorld" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHelloWorld" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MsmqService/HelloWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorld"
                contract="HelloWorldBridge.IHelloWorld" name="BasicHttpBinding_IHelloWorld" />
            <endpoint address="http://localhost/MsmqService/HelloWorld.svc/secure"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloWorld"
                contract="HelloWorldBridge.IHelloWorld" name="WSHttpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="WAYTOOAWESOME\Phillip" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://waytooawesome/MsmqService/HelloWorld.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloWorld"
                contract="HelloWorldBridge.IHelloWorld" name="NetTcpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="WAYTOOAWESOME\Phillip" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>