<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
            </basicHttpBinding>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IMsmqContract" exactlyOnce="false">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloWorld" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHelloWorld" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://waytooawesome/MsmqService/HelloWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorld"
                contract="HelloWorldBridge.IHelloWorld" name="BasicHttpBinding_IHelloWorld" />
            <endpoint address="http://waytooawesome/MsmqService/HelloWorld.svc/secure"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloWorld"
                contract="HelloWorldBridge.IHelloWorld" name="WSHttpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="WAYTOOAWESOME\Phillip" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://waytooawesome/MsmqService/HelloWorld.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloWorld"
                contract="HelloWorldBridge.IHelloWorld" name="NetTcpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="WAYTOOAWESOME\Phillip" />
                </identity>
            </endpoint>
            <endpoint address="net.msmq://localhost/private/MsmqService/MsmqService.svc"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IMsmqContract"
                contract="MsmqServiceBridge.IMsmqContract" name="NetMsmqBinding_IMsmqContract" />
        </client>
    </system.serviceModel>
</configuration>